<script setup lang="ts">
interface Props {
  text?: string;
}

const props = withDefaults(defineProps<Props>(), {
  text: '{{pascalCase name}}',
});
</script>

<template>
  <div class="{{kebabCase name}}">
    \{{ props.text }}
  </div>
</template>

<style scoped>
.{{kebabCase name}} {
}
</style>

