@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  /* 
  COLORS - START
  */

  --black: #000000;
  --white: #FFFFFF;
  
  /* GRAY */
  /* create a range of grays as needed since we generally need more than a few. Separate each color by 100 so we can work more in between if needed in the future. */
  /* just sort of inferring where these colors might land */
  --gray-300: #585858;
  --gray-600: #BBBBBB;
  --gray-800: #F5F5F5;

  /* BLUE */
  /* create a range of blues as needed since we generally need more than a few. Separate each color by 100 so we can work more in between if needed in the future. */
  --blue-500: #1276D3;

  /*
  COLORS - END
  */
  
  /**
  FONT GLOBALS - START
  */
  --font-family: 'Inter', sans-serif;
  --default-font-color: var(--black);
  /*
  FONT GLOBALS - END
  */


  /**
  FONT SIZES - START
  */
  --font-size-small: 14px;
  --font-size-default: 15px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  /*
  FONT SIZES - END
  */


  /**
  FONT WEIGHTS - START
  */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /*
  FONT WEIGHTS - END
  */


  /** BORDER RADIUS - START
  */
  --border-radius-medium: 10px;
  --border-radius-full: 9999px; /* ensure pill or circular elements have a full border radius for the shortest side */
  /*
  BORDER RADIUS - END
  */


  /** SPACING UNITS - START
  */
  --spacing-unit-default: 10px;
  --spacing-unit-medium: 15px;
  --spacing-unit-large: 20px;
  /*
  SPACING UNITS - END
  */


  /** BOX SHADOW - START
  */
  --box-shadow-default: 0px 1px 5px 0px #3C3C432E;
  /*
  BOX SHADOW - END
  */

  /** SIDEBAR - START
  */
  --sidebar-max-width: 300px;
  /*
  SIDEBAR - END
  */

/*******************
  COMPONENT STYLES 
  These styles are very likely to get reused across multiple components, so it's worth keeping them here for now.
  Eventually many of these will be moved to their own files/folder with related components.
*******************/

  /* 
  BUTTON STYLES - START
   */
  --button-background-color: var(--blue-500);
  --button-color: var(--white);
  --button-padding-x: 19px;
  --button-padding-y: 10.5px;
  --button-border-radius: var(--border-radius-medium);
  --button-border: none;
  --button-font-family: var(--font-family);
  --button-font-size: var(--font-size-medium);
  --button-font-weight: var(--font-weight-bold);
  /*
  BUTTON STYLES - END
  */


  /*
  CARD STYLES - START
  */
  --card-background-color: var(--white);
  --card-border-radius: var(--border-radius-medium);
  --card-border: none;
  --card-padding: var(--spacing-unit-default);
  --card-box-shadow: var(--box-shadow-default);
  /*
  CARD STYLES - END
  */


  /*
  SELECT STYLES - START
  */
  --select-background-color: var(--white);
  --select-border-radius: var(--border-radius-medium);
  --select-padding: var(--spacing-unit-default);

  --select-icon-padding-right: var(--spacing-unit-medium);
  --select-icon-size: 15px;
  
  --select-trigger-border: 1px solid var(--gray-600);
  --select-trigger-font-size: var(--font-size-medium);
  --select-trigger-font-weight: var(--font-weight-medium);
  
  
  --select-options-list-box-shadow: var(--card-box-shadow);
  --select-options-list-border: var(--card-border);
  --select-options-list-y-offset: 2px;

  --select-options-font-size: var(--font-size-default);
  --select-options-font-weight: var(--font-weight-regular);
  --select-options-padding-x: var(--spacing-unit-default);
  --select-options-padding-y: var(--spacing-unit-default);
  /* --select-options-hover-background-color: var(--gray-800);
  --select-options-selected-background-color: var(--blue-500);
  --select-options-selected-color: var(--white); */
  /*
  SELECT STYLES - END
  */
}


html,
body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}